td {
	font-size: 9pt;	color: #000000;
}
fieldset{
	padding:.35em .625em .75em;
	margin:0 2px;
	border:1px solid silver;
}
legend{
	padding:.5em;
	border:0;
	width:auto;
}
a:hover {
	font-size: 9pt;	color: #FF0000;
	text-decoration:underline
}
a {
	font-size: 9pt;	text-decoration: none;	color: black;
	noline:expression(this.onfocus=this.blur);
}
input{
	font-family: "ו";
	font-size: 9pt;
	color: #333333;

}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-size:9pt;
}
.textarea {
	font-family: "ו";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;
}
